


.col-sm-2{
    background-color: rgb(224, 216, 216);
    box-shadow: 5px 10px;
    height:150px;
    width:80px;
    margin:90px;
    border-radius:25px;
    
}
.box{
    box-shadow: 5px 10px;
    color:rgb(224, 218, 218);
    height:600px;
    width:400;
    border:1px solid grey;
    margin:60px;
}

.nav-link
{
    color:black;
}

